{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-1-1">
            <h1 class="center"><a href="{% url 'forums:board_view' board_slug=board.slug %}">{{board.name}}</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1-1">
            <h3 class="center">Post a Reply</h3>
            <form class="comment-form center" method="POST">
                {% csrf_token %}
                {{comment_form.as_p}}
                <input type="submit" value="Comment">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-1-1">
            <div class="section-op">
                <div class="section-op-meta">
                    <h5>{{thread.title}}</h5>
                    <a href="{{thread.link}}" target="_blank">Link</a>
                </div>
                <div class="section-op-body">
                    <p>{{thread.body}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if comments %}
            {% for comment in comments %}
                <div class="col-1-1">
                    <div class="section-comment">
                        <div class="comment-body">
                        <p>{{comment.body}}</p>
                        </div>

                        <button class="comment-reply-btn">Reply</button>
                        <button class="comment-reply-cancel-btn">Cancel</button>
                        <form class="comment-form-reply" method="POST">
                            {% csrf_token %}
                            {{comment_form}}
                            <input name="parent_comment_id" type="hidden" value="{{comment.id}}">
                            <input type="submit" value="reply">
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <script type="text/javascript" src="{% static 'js/thread.js' %}"></script>
{% endblock %}